.container {
    width: 100vw;
    height: 100vh;
    display: flex;
    position: absolute;
    justify-content: center;
    align-items: center;
    gap: 2px;
    flex-wrap: wrap;
    overflow: hidden;
    z-index: 9;
}
.container::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(#000, #1b39b1, #000);
    animation: animate 5s linear infinite;
}
@keyframes animate {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(100%);
    }
}
.span {
    position: relative;
    display: block;
    width: calc(6.25vw - 2px);
    height: calc(6.25vw - 2px);
    background-color: #181818;
    transition: 1.5s;
}
.span:hover {
    background-color: #1b39b1;
    transition: 0s;
}

@media (max-width: 900px) {
    .span {
        width: calc(10vw - 2px);
        height: calc(10vw - 2px);
    }
}
@media (max-width: 600px) {
    .span {
        width: calc(20vw - 2px);
        height: calc(20vw - 2px);
    }
}