.container {
    width: 50%;
    padding: 10px;
    height: 300px;
    background-color: #131313;
    color: #fff;
    z-index: 1000;
    position: absolute;
    border-radius: 10px;
    box-shadow: 4px 5px 12px 0px #000;
    font-family: 'Press Start 2P', cursive;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.container h1 {
    text-align: center;
    margin-top: 10px;
}
.container h1 span {
    color: #1b39b1;
    font-size: 1.5em;
    margin-top: 1em;
}
.subtitle {
    text-align: center;
    margin: 10px 0;
    font-size: .8em;
}
.welcome {
    text-align: center;
    margin: 20px 0;
    font-size: .7em;
    color: #1b39b1;
    text-decoration: line-through;
}
.see {
    padding: 10px 15px;
    background: #000;
    color: #fff;
    border-radius: 7px;
    cursor: pointer;
    transition: .3s;
    text-decoration: none;
}
.see:hover{
    background: #1b39b1;
    color: #000;
    transition: 0s;
}

@media (max-width: 900px) {
    .container {
        width: 90%;
    }
    .container h1 span{
        font-size: 1.3em;
    }
}